.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

body, html {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: #333;
	font-size: 15px;
}

#bootstrap-menu .navbar {
	-webkit-transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86), padding .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86), padding .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86), padding .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#bootstrap-menu.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Biryani', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
#bootstrap-menu.navbar-default {
    font-size: 18px;
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #F3F3F3;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    /*color: rgba(209, 209, 209, 1);*/
    background-color: transparent;/*rgba(248, 248, 248, 0);*/
}
#bootstrap-menu.navbar-default .navbar-nav>.active>a,
#bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    /*color: rgba(255, 255, 255, 1);*/
    background-color: transparent;/*rgba(231, 231, 231, 1);*/
}

#bootstrap-menu.navbar-default .navbar-toggle {
    border-color: transparent; 
}

#bootstrap-menu.navbar-default .navbar-toggle:hover,
#bootstrap-menu.navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
}
#bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ddd;
}

#bootstrap-menu.navbar-default .navbar-collapse .collapse .in {
    /*background-color: #ddd;*/
    opacity: 0.0;
}

#bootstrap-menu.navbar-default .navbar-collapse .collapse {
    background-color: #ddd;
    opacity: 0.7;
}

#bootstrap-menu .navbar-header {
	background: rgba(0, 0, 0, 0.4);
}

#bootstrap-menu .navbar-collapse {
	background: rgba(0, 0, 0, 0.6);
	text-align: right;
}

@media(min-width:767px) {
	#bootstrap-menu.navbar-default .navbar-brand {
        -webkit-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
        transition: opacity .25s cubic-bezier(0.785, 0.135, 0.15, 0.86), padding .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    #bootstrap-menu.navbar-default {
    	padding-top: 15px;
    }

    #bootstrap-menu .navbar-header {
		background: transparent;
	}

	#bootstrap-menu .navbar-collapse {
		background: transparent;
		text-align: inherit;
	}

    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* End navbar */

section .container-fluid {
	padding: 0;
}

section {
	overflow: hidden;
}

section > .container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero {
	color: #fff;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	height: 100%;
}

.hero > img {
	/*background: url() no-repeat fixed top;*/
	/*background-size: cover;*/
	vertical-align: top;
	position: relative;
	width: 105%;
	/*height: 100%;*/
	/* right: 100%; */
}

@media (max-width: 768px) {
	.hero > img {
		/*background: url() no-repeat fixed top;*/
		/*background-size: cover;*/
		height: 100%;
		width: unset;
		right: 120%;
		display: block;
		/*height: 100%;*/
		/* right: 100%; */
	}
}

.hero .container {
	z-index: 3;
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
}

.more-container {
	text-align: center;
	height: 143px;
	width: 100%;
    position: relative;
    bottom: 0;
}

a.scroll-arrow {
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	left: 50%;
	color: white;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    font-size: 72px;
    transform: translateX(-50%);
    
}

.name-container {
	padding: 70px;
}

.name {
	font-family: 'Biryani', sans-serif;
	font-size: 72px;
	line-height: 1.4em;
	display: block;
}

.subtitle {
	font-family: 'Biryani', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.portfolio-section {
	padding: 1em;
}

.lets-center {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	/* height: 100%; */
	position: inherit;
}

#portfolio-rpi {
	background: #002850
	background: -webkit-linear-gradient(#002850, #003a73);
	background: -o-linear-gradient(#002850, #003a73);
	background: -moz-linear-gradient(#002850, #003a73);
	background: linear-gradient(#002850, #003a73);
}

.section h1 {
	margin: 50px 50px 10px 50px;
	font-weight: 200;
	font-size: 62px;
	font-family: 'Biryani', sans-serif;
}

#portfolio-rpi .rpi-screenshot {
	background: url("/images/rpi_screenshot.png") no-repeat center;
	width: 308px;
	height: 621px;
	/*transform: translate3d(0px, , 0px);*/
	display: block;
	left: 50%;
	margin: auto;
}

#portfolio-rpi .app-icon {
	background: url("/images/rpi_icon.png") no-repeat center;
	width: 52px;
	height: 52px;
	left: 0;
	margin-top: 20px;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		#portfolio-rpi .rpi-screenshot {
			 background-image: url("/images/rpi_screenshot@2x.png"); 
			 background-size: 100%; 
		}

		#portfolio-rpi .app-icon {
			background: url("/images/rpi_icon@2x.png") no-repeat center;
			background-size: 100%;
		}
}

#portfolio-cypu {
	background: #2b3d51;
	background: -webkit-linear-gradient(#2b3d51, #19242f);
	background: -o-linear-gradient(#2b3d51, #19242f);
	background: -moz-linear-gradient(#2b3d51, #19242f);
	background: linear-gradient(#2b3d51, #19242f);
}

#portfolio-cypu .cypu-screenshot {
	background: url("/images/cypu_screenshot.png") no-repeat center;
	width: 788px;
	height: 525px;
	left: 0;
	margin-top: 200px;
	padding: 0;
}

#portfolio-cypu .app-icon {
	width: 56px;
	height: 56px;
	background: url("/images/cypu_icon.png") no-repeat center;
	margin-top: 20px;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		#portfolio-cypu .cypu-screenshot {
			background: url("/images/cypu_screenshot@2x.png") no-repeat center;
			background-size: 100%;
		}

		#portfolio-cypu .app-icon {
			background: url("/images/cypu_icon@2x.png") no-repeat center;
			background-size: 100%;
		}
}

.contact-icons {
	font-size: 42px;
	color: #ffffff;
}

.contact-icons > a {
	padding: 1em 1em 0.5em 1em;
	color: #fff;	
}

#contact .contact-form {
	margin: 25px;
}

#contact .portrait {
	background: url("/images/Portrait.png") no-repeat center;
	width: 100px;
	height: 100px;
}

#contact h3 {
	margin-top: 0;
	font-weight: 200;
}

#contact input[type=text], textarea {
    margin: 0 25px 25px 0;
	padding: 11px 24px;
	width: 100%;
	color: black;
}

#contact textarea {
	height: 180px;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		#contact .portrait {
			background: url("/images/Portrait@2x.png") no-repeat center;
			background-size: 100%;
		}
}
